@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --primary-color: #191b29;
    --secondary-color: #0D2A49;
}

body {
    background-color: #F8F8F8;
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
}

ul {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.card {
    background: #ffffff;
    border: none;
}

.btn:active:hover, .btn:active:focus, .swal2-cancel:focus {
    animation: button-pop 0s ease-out;
    transform: scale(.96, .96);
}

.update-profile-label {
    padding: 0.1rem 0.5rem 0.3rem;
    background: var(--secondary-color);
    border-radius: 100%;
    cursor: pointer;
}

.btn-primary {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-outline-primary {
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-primary:hover {
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-tertiary {
    background: #042948;
    color: #ffffff;
    padding: 0.6rem;
}

.btn-tertiary:hover {
    border: 1px solid #042948;
    background: transparent;
    color: #042948;
    padding: 0.6rem;
}

.btn-primary svg, .update-profile-label svg, .btn-tertiary svg, .btn-tertiary svg path {
    fill: white;
    stroke: white;
}

.btn-tertiary:hover svg path, .btn-tertiary:hover svg {
    stroke: #042948;
    fill: white;
}

.btn-primary:hover svg {
    fill: var(--primary-color);
    stroke: var(--primary-color);
}

.btn-secondary, .swal2-cancel, .btn-secondary:hover, .swal2-cancel:hover, .btn-secondary:active, .swal2-cancel:active {
    background: transparent !important;
    border-color: transparent !important;
    color: #333333 !important;
}


@keyframes button-pop {
    0% {
        transform: scale(.96, .96);
    }
    40% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

.form-group {
    margin: 0 0 0.2rem 0;
}

.links {
    color: var(--primary-color);
}

label {
    font-size: 1rem;
    font-weight: 400;
    color: #8d8d8d;
}

.modal {
    --bs-modal-width: 960px;
    margin: 0 auto;
}

.modal-header, .modal-body {
    padding: 0.4rem 1.1rem;
    border-bottom: 0;
}

.form-control {
    font-size: 0.9rem;
    border: 1px solid #e1e1e1;
}

.form-control:focus {
    box-shadow: none;
    border: 1.4px solid var(--primary-color);
}

.form-control::placeholder {
    color: #e1e1e1;
}

.form-label {
    margin-bottom: 0.2rem;
}

.form-check-input:focus, button:focus {
    box-shadow: none !important;
}

input[type="checkbox"] {
    accent-color: var(--primary-color);
}

.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.h-full {
    height: 100vh;
}

.form {
    min-width: 450px;
}

.form p, p {
    font-size: 0.9rem;
}

.text-danger {
    font-size: 0.8rem;
}

@media screen and (max-width: 560px) {
    .form {
        min-width: 100%;
    }
}


.loading-box {
    z-index: 5;
    position: absolute;
    background-color: rgba(255, 255, 255);
    color: white; /* White text */
    padding: 16px 28px; /* Some padding */
    border-radius: 0 0 0 8px; /* Rounded bottom-left corner */
    font-size: 14px; /* Small and cute font size */
    z-index: 9999999; /* Make sure it's above other content */
    border-radius: 12px;
    /* Centering */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-overlay {
    display: block;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-pills {
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.nav-pills .nav-link {
    color: #333333;
}

.nav-pills .nav-link.active {
    background: #e1e1e1;
    border-color: #e1e1e1;
    color: #333333;
}

.dashed-border {
    border: 1px dashed #e1e1e1;
    border-radius: 10px;
}

.active {
    border-color: var(--primary-color);
}

.badge {
    background-color: #eeffee;
    color: #28bf3a;
    font-weight: 500;
}

.bg-signin p {
    font-weight: 300;
    font-size: 0.8rem;
}

.card-01 {
    border: 2px solid #F3F3F3;
    border-radius: 10px;
}

.payment-type {
    font-weight: 400;
    font-size: 0.8rem;
    color: #585676;
    background: #efeff2;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
}

.provider-label {
    color: #000000;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

.footer-links a {
    color: #636363;
}

.border-left {
    border-left: 1px solid #eaeaea;
}

.info-payment {
    color: #8E8E8E;
    font-size: 0.9rem;
    font-weight: 400;
}

.personal-details-table tr td {
    color: #042948;
    font-weight: 600;
}

.profile-sign span {
    color: #6b6b6b;
}


.form-text {
    font-size: 0.7rem;
    color: #7a7a7a;
}

.bg-total-payment {
    background: #8eb8ff;
}

.bg-cancel-payment {
    background: #a4a2fd;
}

.bg-success-payment {
    background: #8eff9d;
}

.bg-invalid-payment {
    background: #ff8ea3;
}

.dropdown-menu li {
    display: flex !important;
    margin: 0;
}

input[type="radio"]:checked + .provider-label.dashed-border{
    border: 1px solid #3AE3F9 !important;
}
.provider-label.dashed-border:hover{
    border: 1px solid #3AE3F9;
}
/*responsive table*/
.responsive-table{
    overflow-x: auto;
}