# LTI
LTI_KEY=ltikey

# MongoDB
DB_HOST=localhost:27017
DB_USER=root
DB_PASS=rootpassword
DB_NAME_LTI=ltidb
DB_NAME_EGP=egpdb

# CANVAS
CANVAS_URL=https://canvas.endeavour.cs.vt.edu
CANVAS_NAME=endeavour.cs.vt
CANVAS_CLIENT_ID=10000000000006
CANVAS_AUTH_ENDPOINT=https://canvas.endeavour.cs.vt.edu/api/lti/authorize_redirect
CANVAS_ACCESS_TOKEN_ENDPOINT=https://canvas.endeavour.cs.vt.edu/login/oauth2/token
CANVAS_JWK_URL=https://canvas.endeavour.cs.vt.edu/api/lti/security/jwks

# JWT Secret Key for tool routes
SECRET_KEY=secretkey